.cardGrid {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-content: center;
  height: 100%;
}

@media screen and (max-height: 780px) {
  .cardGrid {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, minmax(20rem, 1fr));
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .cardGrid::-webkit-scrollbar {
    display: none;
  }
}

.card {
  position: relative;
  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--color-system-light);
  text-align: center;
  border-radius: 20px;
  padding: 12px 8px;
  max-height: 400px;
  max-width: 20rem;
}

.card a {
  color: var(--color-primary);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.card a > .image {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 150px;
}

.card a > .content {
  display: flex;
  flex-direction: column;
}

.card a > .content > time {
  font-size: 16px;
}

.card a > .content > p {
  display: -webkit-box;
  font-size: 18px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
