.article {
  text-align: center;
  background: var(--color-system-dark-2);
  padding: 20px 60px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.article h2 {
  font-size: var(--text-size-header);
  color: var(--color-system-light);
  text-align: center;
  z-index: 99;
}
