.repo {
  text-align: center;
  background: linear-gradient(var(--color-system-light), var(--color-system-dark-2));
  padding: 20px 60px;
  min-height: 600px;
  background-size: cover;
}

.repo h2 {
  font-size: var(--text-size-header);
  color: var(--color-system-dark-2);
  text-align: center;
}

@media (min-width: 768px) {
  .repo h2 {
    font-size: var(--text-size-container-header);
  }
}
