.repo {
  text-align: center;
  background-image: linear-gradient(var(--color-system-light-2), var(--color-system-light), var(--color-system-light-2));
  padding: 20px 60px;
  background-size: cover;
  height: 100vh;
  max-height: 1024px;
}

.repo h2 {
  font-size: var(--text-size-header);
  color: var(--color-system-dark);
  text-align: center;
}

@media (min-width: 768px) {
  .repo h2 {
    font-size: var(--text-size-container-header);
  }
}
