@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

body {
  --color-primary: #76b1d4;
  --color-system-light: #d8f8f9;
  --color-system-light-2: #31758f;
  --color-system-dark: #263140;
  --color-system-dark-2: #1e3e50;

  --text-size-body: 18px;
  --text-size-header: 40px;
  --text-size-container-header: 24px;
  --text-size-describe: 12px;

  background-color: hsl(265, 3%, 53%);
  color: #252525;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}
