.contact {
  height: 120px;
  width: 100%;
  background-color: var(--color-system-dark-2);
  color: var(--color-system-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 24px;
  margin-right: 30px;
}

.iconGroup {
  padding: 12px 8px;
  display: flex;
  font-size: 28px;
}

.iconGroup > a {
  text-decoration: none;
  color: var(--color-system-light);
  padding: 12px 18px;
}
